.section_4
    width: 100%
    height: 100vh
    position: relative
    overflow: hidden
    background: #212121
    color: #ffffff
    .bg_lin2
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0%
        z-index: 10
        background-image: url('../images/bg/paginaexpertos-04.svg')
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        overflow: hidden
        z-index: 1
    .overlay_4
        width: 95%
        height: 92.5%
        top: 2.5%
        left: 2.5%
        position: relative
        background: rgba(0,0,0,.35)
        z-index: 2
        h1,
        h4,
        h5
            font-family: $monse
            font-weight: 300
            text-transform: uppercase
        p
            font-family: $monse
            font-weight: 300
        .borde_degrad
            display: inline-block
            padding: 5px 10px
            border: 4px solid green
            border-image-source: linear-gradient(to right, #2AC0FF, #EC00FF, #F97900)
            border-image-slice: 20
        .img_tra_c
            .img_tra
                transform: translateY(-50px)  
                width: 120px
                height: 120px
                background: #ffffff
                border-radius: 50%
                margin-top: 20px
                display: inline-block
                cursor: pointer
                -webkit-filter: grayscale(100%)
                filter: grayscale(100%)
                transition: all ease-in-out .3s
                &:hover
                    transform: translate(0, -25px)
                    -webkit-filter: grayscale(0)
                    filter: grayscale(0)
    .line_white
        top: 95%
        width: 52%
        height: 4px
        background: #ffffff
        position: absolute
        left: 24%
    .slide_line
        width: 50px
        height: 50px
        margin: 0
        padding: 0
        margin-top: -27.5px
        z-index: 3
        transition: all ease-in-out .3s
        margin-left: 0px
.imageFixed
    transform: translate(0, -25px)
    -webkit-filter: grayscale(0)
    filter: grayscale(0)