.section_9
    width: 100%
    overflow: hidden
    position: relative
    background: #1c1d20
    .overlay_9
        text-align: center
        h1
            color: #ffffff
            text-transform: uppercase
            font-family: $monse
            font-weight: 100
            text-align: center
            margin-top: 3rem
            text-shadow: 1px 1px 3px rgba(255,255,255,.85)
            strong
                font-weight: 700
        h6
            color: #ffffff
            text-transform: uppercase
            font-family: $monse
            font-weight: 100
            text-align: center
            margin-top: .8rem
            letter-spacing: 5px
            strong
                font-weight: 700
        .container
            border-top: 1px solid #252628
            border-bottom: 1px solid #252628
            margin-top: 3rem
            padding: 1.5rem
            form
                text-align: left
                .form-group
                    label
                        background: linear-gradient(to right, #2AC0FF, #EC00FF, #F97900)
                        -webkit-background-clip: text
                        color: transparent
                        font-family: $monse
                        font-weight: 300
                        text-transform: uppercase
                        i
                            color: #ffffff
                            color: linear-gradient(to right, #2AC0FF, #EC00FF, #F97900)
                    input.form-control,
                    textarea.form-control
                        background: #232427
                        font-family: $monse
                        font-weight: 100
                        color: #ffffff
                        // border-radius: 25px
                        border: none
                        border: 1px solid #232427
                        &:focus
                            box-shadow: none
                            border-image-source: linear-gradient(to right, #2AC0FF, #EC00FF, #F97900)
                            border-image-slice: 1
                #send_contact
                    background: #ffffff
                    border: none
                    color: #2AC0FF
                    border-radius: 25px
                    font-family: $monse
                    font-weight: 600
                    text-transform: uppercase
                    padding: 10px 22px
                    font-size: 1.1rem
                    transition: all ease-in-out .3s
                    &:hover
                        color: #ffffff
                        background: #2AC0FF
                        border-radius: 0
                    &:focus
                        outline: none
                    span
                        margin-right: 10px;

    .footer
        width: 100%
        background: #23074d
        background: -webkit-linear-gradient(to right, #cc5333, #23074d)
        background: linear-gradient(to right, #cc5333, #23074d)
        display: flex
        justify-content: space-between
        padding: 20px 40px
        a
            color: #ffffff
            font-size: 20px
            font-family: $monse
            text-decoration: none
.bg_lin1
    position: relative
    overflow: hidden
    width: 120%
    height: 180px
    margin-left: -5%
    margin-bottom: -2%
    padding: 0
    margin-top: 2%
    figure
        position: absolute
        bottom: 0
        left: 0px

                