.section_7
    width: 100%
    height: 100vh
    overflow: hidden
    position: relative
    background: url('../images/553188-PK37HL-373 (2).jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    // filter: grayscale(.80)
    .hexagono
        $hw: 100
        $wh: ((50*$hw)/86)*4.4px
        width: $hw*1%
        height: $wh
        transform: rotate(90deg)
    .text__inf
        color: #ffffff
        font-family: $monse
        text-align: center
        h4
            font-size: 2rem
        h5
            color: blue
    