.section_8
    width: 100%
    height: 100vh
    overflow: hidden
    position: relative
    background: #212121
    .container
        .img__c
            margin-top: 100px
        .follow_
            background: #e9e9e9
            padding: 10px 20px
            border-radius: 5px
            margin-bottom: 50px
            -webkit-box-shadow: 0 3px 6px rgba(255, 255, 255, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset
            -moz-box-shadow: 0 3px 6px rgba(255, 255, 255, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
            box-shadow: 0 3px 6px rgba(255, 255, 255, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
            a
                color: #ffffff
                font-family: $monse
                font-size: 4rem
                color: #212121
                text-decoration: none
    .red__s
        text-align: center
        font-size: 2.3rem
        a
            color: #ffffff
            margin: 0 10px