/* HOME */
@media only screen and (max-width: 1024px) {
    .tilte_1 {
        padding-top: 12%
    }
    .owl_wrapper {
        width: 100%;
        padding-left: 16px;
    }
    .owl_wrapper .owl-item {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
        transition: all .2s;
        -webkit-transform: all .2s;
        z-index: 1;
    }

    .owl_wrapper .owl-item:nth-child(1) {
        z-index: 3;
        margin-right: 0px;
        margin-top: 0;
    }

    .owl_wrapper .owl-item:nth-child(2) {
        z-index: 3;
        margin-right: 0px;
        margin-top: 0;
    }

    .owl_wrapper .owl-item:nth-child(3) {
        z-index: 3;
    }

    .owl_wrapper .owl-item:nth-child(4) {
        z-index: 2;
        margin-left: 0px;
        margin-top: 0;
    }

    .owl_wrapper .owl-item:nth-child(5) {
        z-index: 1;
        margin-left: 0px;
        margin-top: 0;
    }
    .section_2 .overlay_2 .workcarousel .card_1,
    .section_2 .overlay_2 .workcarousel .card_2,
    .section_2 .overlay_2 .workcarousel .card_3 {
        margin-top: 0;
    }

}

@media only screen and (max-width: 992px) {
    .section_1 .slider_home {
        width: 100%;
        margin: 0;
    }
} 

@media only screen and (max-width: 767px) {

    .section_2 {
        height: auto;
    }

    .section_2 .overlay_2 {
        position: relative;
    }

    .section_9 .footer {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .img_tra_c,
    .line_white,
    .slide_line
     {
        display: none;
    }
    .section_4 {
        height: auto;
    }
    .overlay_4 {
        text-align: center;
        padding: 20px;
    }
    .video_tab {
        left: -20%;
    }
    .video_tab img {
        width: 60%;
        height: 50%;
        bottom: 4.5%;
    }
    .video_tab video {
        right: 13%;
        width: 43%;
        height: 50%;
    }
    .con_select_team {
        display: none
    }
    .person-carousel {
        text-align: center;
    }
    .separator {
        margin: auto;
    }
    .tilte_1 {
        padding-top: 10%
    }
    .nasOlw_c {
        bottom: 23%;
    }
    .nasOlw_c .owl_t_n {
        left: 3%;
    }
        .nasOlw_c .owl_t_p {
            right: 3%;
        }
}

@media only screen and (max-width: 690px) {
    .tilte_1 {
        padding-top: 10%;
    }
    .overlay_2 {
        padding: 0 5%;
    }
}